body {
    background-color: violet;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#mainDiv {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

#mainDiv input {
    width: 50%;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    outline-color: rgb(83, 27, 135);
}

button {
    width: 50%;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background-color: darkmagenta;
    color: white;
}